h4 {
    margin: auto;
    margin-left: 550px;
    display: block;
    margin: auto;
    position: fixed;
}

#btn {
    width: 100px;
    height: 30px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
}



.loading {

    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 15px solid #EEEDEB;
    border-radius: 50%;
    border-top: 15px solid #2D2727;

    /*2 saniye de bir döndürüyor*/
    animation: spinner 2s linear infinite;
    display: none;
}

/* 0'dan 360'a döndürüyor */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}